<main>
  <header>
    <h1>Hi userABC, It seems you are in a</h1>
    <h1>Perfect body shape</h1>
  </header>
  <section>
    <div><h1>Calories Tracker</h1></div>
    <div><h1>Water Tracker</h1></div>
    <div><h1>Exercise Tracker</h1></div>
    <div><h1>Heart Tracker</h1></div>
  </section>
  <section>
    <!-- cards -->
    <div>
      <h1>Blood Pressure</h1>
    </div>
    <div>
      <h1>Blood Glucose</h1>
    </div>
    <div>
      <h1>Body weight</h1>
    </div>
    <div>
      <h1>Fat Percentage</h1>
    </div>
    <div>
      <h1>BMI</h1>
    </div>
  </section>
</main>
