<main>
  <header>

  </header>
  <div>
    <section class="grid grid-cols-2 border-2 border-white rounded-xl w-2/3">
      <div class="p-10 border-r-2 border-b-2">
        <h1>Exercise Tracker</h1>
        <app-running></app-running>
      </div>
      <div class=" p-10 border-l-2 border-b-2">
        <h1>Calories Tracker</h1>
        <app-calories></app-calories>
      </div>
    </section>
    
    <section class="flex">
      <!-- cards -->
      <div>
        <h1>Blood Pressure</h1>
      </div>
      <div>
        <h1>Blood Glucose</h1>
      </div>
      <div>
        <h1>Body weight</h1>
      </div>
      <div>
        <h1>Fat Percentage</h1>
      </div>
      <div>
        <h1>BMI</h1>
      </div>
    </section>
  </div>
</main>
