<main class="flex justify-center items-center h-full w-full">
    <form class="form w-1/2 ">
    <label class="form-control w-fit">
        <div class="label">
        <span class="label-text">Gender:</span>
        </div>
        <select class="select select-bordered w-full">
        <option value="male">Male</option>
        <option value="female">Female</option>
        </select>
    </label>
      <div class="grid grid-cols-2 gap-4">

        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">First Name:</span>
          </div>
          <input type="text" placeholder="Enter your first name" class="input input-bordered w-full" required>
        </label>
    
        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">Last Name:</span>
          </div>
          <input type="text" placeholder="Enter your last name" class="input input-bordered w-full" required>
        </label>
    
        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">Email:</span>
          </div>
          <input type="email" placeholder="Enter your email" class="input input-bordered w-full" required>
        </label>

        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">Birthdate:</span>
          </div>
          <input type="date" class="input input-bordered w-full" required>
        </label>
    
        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">Password:</span>
          </div>
          <input type="password" placeholder="Enter your password" class="input input-bordered w-full" required>
        </label>
    
        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">Confirm Password:</span>
          </div>
          <input type="password" placeholder="Confirm your password" class="input input-bordered w-full" required>
        </label>
    
        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">Weight (kg):</span>
          </div>
          <input type="number" placeholder="Enter your weight" class="input input-bordered w-full" required>
        </label>
    
        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">Height (cm):</span>
          </div>
          <input type="number" placeholder="Enter your height" class="input input-bordered w-full" required>
        </label>
    
        <div class="col-span-2 flex justify-center"><button type="submit" class="btn btn-primary btn-wide">Register</button></div>
      </div>
    </form>
</main>
