<section *ngIf="selectedTab == 1">
  <form class="flex flex-col px-5 py-5" [formGroup]="chartForm">
    <h1 class="text-center font-bold text-xl">Running regimen data</h1>
    <div class="mt-5">
      <table class="table h-full text-center">
        <thead>
          <tr>
            <th>Week day</th>
            <th>Distance ran in KM</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let day of weekDays" class="hover">
            <th>{{ day }}</th>
            <div class="h-full flex justify-center items-center">
              <input
                type="text"
                [placeholder]="chartForm.get(day)?.hasError('required')?'KM > 0':''"
                class="text-center font-bold input input-sm input-bordered w-1/2 max-w-xs focus:outline-none placeholder:text-red-500"
                [ngClass]="{'input-error':chartForm.get(day)?.invalid, 'input-primary':!chartForm.get(day)?.invalid}"
                [value]="getFormControl(day)?.value"
                (input)="updateData(day, $event)"
              />
            </div>
          </tr>
        </tbody>
      </table>
    </div>
    <label class="form-control w-full items-center justify-evenly mt-2">
      <span
        class="label-text"
        [ngClass]="{
          'text-error': chartForm.get('weight')?.invalid,
        }"
      >
        {{
          chartForm.get("weight")?.invalid
            ? chartForm.get("weight")?.hasError("required")
              ? "The weight is required"
              : "Please enter a reasonable weight"
            : "What is your weight?"
        }}
      </span>

      <input
        type="text"
        [ngClass]="{
          'input-error': chartForm.get('weight')?.invalid,
          'input-primary': !chartForm.get('weight')?.hasError('min')
        }"
        class="text-center font-bold input input-sm input-bordered w-1/3 focus:outline-none"
        [value]="chartForm.get('weight')?.value"
        (input)="updateWeight($event)"
      />
    </label>
  </form>
</section>
